/**
 * @jest-environment jsdom
 */
import React from "react";
import %name% from "..";

describe("%name%", () => {
  it("should be defined", () => {
    expect(%name%).toBeDefined();
  });
});

// figure out tests
