{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "canonical",
    "canonical/react",
    "canonical/typescript",
    "canonical/jest",
    "prettier"
  ],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "semi": [0],
    "no-constant-condition": [2],
    "no-undef": [2],
    "no-dupe-args": [2],
    "no-unreachable": [1],
    "no-cond-assign": [2],
    "no-dupe-keys": [1],
    "prefer-const": [1],
    "promise/prefer-await-to-callbacks": 0,
    "no-const-assign": [2],
    "no-useless-constructor": [1],
    "no-class-assign": [2],
    "no-confusing-arrow": [2],
    "constructor-super": [2],
    "prefer-spread": [1],
    "no-lonely-if": [1],
    "no-continue": [1],
    "no-redeclare": [0],
    "comma-dangle": [0],
    "no-extra-semi": [0],
    "no-console": [0],
    "no-mixed-spaces-and-tabs": [0],
    "react/react-in-jsx-scope": [0],
    "react/display-name": [0],
    "jest/prefer-expect-assertions": 1,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-confusing-void-expression": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/no-redeclare": 0,
    "@typescript-eslint/unbound-method": 0,
    "arrow-body-style": 0,
    "filenames/match-regex": 0,
    "import/extensions": 0,
    "import/no-namespace": 0,
    "import/no-unassigned-import": 0,
    "import/no-unresolved": 0,
    "max-nested-callbacks": 0,
    "unicorn/no-reduce": 0,
    "import/no-extraneous-dependencies": 0,
    "radix": 0,
    "func-style": 0,
    "canonical/destructuring-property-newline": 0,
    "canonical/import-specifier-newline": 0,
    "canonical/prefer-inline-type-import": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
