/node_modules
/.package.json
package-lock.json
pnpm-lock.yaml
lib
yarn-error.log
.next
out
dist
lerna-debug.log
.cache
coverage
/*.tsbuildinfo
.out
.DS_Store
yarn-error*
.rpt2_cache
.github/actions/**/node_modules
!.github/actions/**/package-lock.json
*.d.ts
.changelog
src/dist
src/declarations


.docusaurus/*
translated_docs
build/
yarn.lock
i18n/*
