@import "https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css";

:root{
  --ifm-color-primary-lightest: #8CA4ED;
  --ifm-color-primary-lighter: #6787E7;
  --ifm-color-primary-light: #5A7DE5;
  --ifm-color-primary: royalblue;
  --ifm-color-primary-dark: #2855DD;
  --ifm-color-primary-darker: #224ED5;
  --ifm-color-primary-darkest: #1C41AF;
}
