@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

/* path of `fumadocs-ui` relative to the CSS file */
@source '../../../node_modules/fumadocs-ui/dist/**/*.js';
