name: Node CI Pull request
concurrency:
  group: release-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
on:
  pull_request:
    branches:
      - "**"

jobs:
  build:
    timeout-minutes: 20

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/ci-setup
      - name: Get coverage
        run: yarn run coverage
      - uses: andresz1/size-limit-action@v1
        with:
          script: yarn run check-size
          skip_step: build
          directory: packages/rooks
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          directory: packages/rooks/src/coverage
