name: Update title card

on:
  schedule:
    - cron: '0 0 */2 * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 15.x
        uses: actions/setup-node@v1
        with:
          version: 15.x
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - name: Install project dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true' # Over here!
        run: yarn
      # - name: Update title card
      #   run: yarn run update-title-card
      # - name: Commit package list
      #   continue-on-error: true
      #   run: |
      #     git add .
      #     git -c user.name="imbhargav5" -c user.email="imbhargav5@users.noreply.github.com" \
      #       commit -m "Update ${{ steps.tags.outputs.new }} title card list [skip ci]" --no-verify --quiet
      #     git push "https://imbhargav5:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git" master
